*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
}
body,div,p{
    word-wrap: break-word;
}
ul,li,dl,dd,dt,ol{
    list-style: none;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
i{
    font-style: italic;
}
a{  
    color: #ff9d00;
    text-decoration: none;
    cursor: pointer;
}
dl{
    display: block;
    /* -webkit-margin-before:1em ; */
    
}
img{
    vertical-align: middle;
}
dd{
    display: block;
    /* -webkit-margin-start: 40px; */
}
#nav{
    height: 58px;
    
    background-color: #fff;
    position: relative;
    z-index: 90;
}
.header_warp{
    width: 1120px;
    max-width: 1440px;
    height: 58px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}
.homehead_logo{
    position: relative;
    padding: 13px 0;
    height: 32px;
    float: left;
    width: 136px;
}
.mfw_logo{
    height: 33px;
    width: 120px;
    background: url(../img/home/header-small-sprites3.png)no-repeat 0 0;
    display: block;
    position: relative;
}
.head_nav{
    position: relative;
    z-index: 5;
    line-height: 58px;
    font-size: 14px;
    float: left;
    display: inline;
    padding: 0 10px 0 25px;
    color: #333;
}
.head_nav li{
    float: left;
    position: relative;
    line-height: 54px;
}
.head_nav a{
    border-bottom: 4px solid transparent;
    display: inline-block;
    padding: 0 16px;
    color: #333;
    vertical-align: top;
    overflow: hidden;
}
.head_nav a:hover{
    color: #ff9d00;
    border-bottom-color:#ff9d00 ;
}
.head_nav a.router-link-exact-active {
    color: #fff!important;
    background-color:#ff9d00 ;
    text-decoration: none;
}
.head_nav_dropdown{
    position: relative;
    line-height: 58px;
    border-top: 2px solid transparent;
}
.head_nav_dropdown a:hover{
    border-bottom-color:#fff ;
}
.head_nav_dropdown:hover{
    border-top-color:#ff9d00 ;
    
}
.head_nav_dropdown:hover .dropdown_menu{
    display: block;
}
.drop_toggle{
    padding: 0 11px 2px;
    margin-bottom: -1px;
    height: auto!important;
}
.head_nav_dropdown .icon_caret_down{
    margin: 0 -5px 0 3px;
    border-top-color: #666;
    vertical-align: middle;
    transition: transform .5s ease-in-out 0s;
}
.icon_caret_down{
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
}
.dropdown_menu .dropdown_sales{
   background-color: rgba(255, 255, 255, 95);
}

.dropdown_menu {
    width: 140px;
    border-color: #eaeaea;
    z-index: 1;
    display: none;
    top: auto;
    right: auto;
    position: absolute;
    border: 1px solid #d6d6d6;
    background-color: #fff;
}
.dropdown_menu li{
    float: none;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    position: relative;
    vertical-align: top;
}
.dropdown_menu li a{
    border: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    color: #666;
    cursor: pointer;

}
.dropdown_menu li a:hover{
    background-color: #eee;
    color: #666;
    text-decoration: none;
}
.dropdown_menu a:hover{
    border: 0;
    height: 40px;
}
.dropdown_menu .i_hot{
    margin-top: 12px;
}
.i_hot{
    position: absolute;
    margin: 3px 0 0 8px;
    height: 14px;
    background-color: #f46240;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 4px 0 3px;
    font-style: normal;
}
.head_nav_flight:after{
    content: '特价';
    display: block;
    position: absolute;
    top: 9px;
    right: -10px;
    z-index: 3;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    border-radius: 4px 0 4px 0;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    background:-webkit-linear-gradient(135deg,rgba(255,74,74,1) 0,rgba(255,115,115,1) 100%) ;
}
.no_image{
    width: 300px;
    left: auto;
}
.dropdown_panel{
    display: none;
    border-top: 1px solid #eaeaea;
    /* width: 650px;
    left: 395px; */
    right: auto;
    top: auto;
    z-index: 1;
    position: absolute;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    height: 300px;
    background-color: rgba(255, 255,255,95);   
}

.panel_wrapper{
    padding-left: 0;
    /* padding: 20px 0 0 395px; */
    height: 260px;
    overflow: hidden;
}
.dropdown_panel ul{
    float: left;
    padding-left: 17px;
    width: 120px;
}
.dropdown_panel li{
    float: none;
    height: 75px;
    line-height: 32px;
    font-size: 16px;
    position: relative;
}
.panel_wrapper .h a{
    color: #ff9d00!important;
}
.dropdown_panel a{
    border: 0;
    height: auto;
    display: inline;
    padding: 0;
    color: #666;
}
.i_new{
    margin-top: 8px;
    background-color: #1ec896;
    position: absolute;
    margin: 3px 0 0 8px;
    height: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 4px 0 3px;
    font-style: normal;
}
.nav_list_sub{
    padding-left: 25px;
}
.nav_list_sub li{
    height: 32px;
    font-size: 14px;
}
.head_nav_community{
    border-top: 2px solid transparent;
}
.head_nav_community:hover{
    border-top-color:#ff9d00 ;
}
.head_nav_community:hover .dropdown_panel{
    display: block;
}
.mfwzx_logo{
    width: 75px;
    height: 58px;
    background: url(../img/home/mfwzx.png) no-repeat center;
    background-size: 75px 30px;
}
.login_out{
    width: auto;
    padding: 16px 0;
    float: right;
    height: 26px;
    line-height: 26px;
    color: #c9c9c9;
    text-align: right;
}
.login_out .weibo_login, .login_out .qq_login, .login_out .weixin_login{
    display: inline-block;
    margin-right: 6px;
    width: 26px;
    height: 26px;
    background-image: url(../img/home/header-sprites15.png);
    background-position: 0 -50px!important;
    overflow: hidden;
    vertical-align: -7px;
}
.login_out .qq_login{
    background-position: -30px -50px!important;
}
.login_out .weixin_login{
    background-position: 0 -165px!important;
}
/* .head_nav li:hover .dropdown_menu{
    display: block;
}
.head_nav li:hover{
    border-bottom:4px solid #ff9d00 ;
} */
/* .hometop_left{
    width: 136px;
    height: 58px;
    border: 1px solid red;
    float: left;
    position: relative;
} */
.hometop_content{
    position: relative;
    z-index: 5;
    line-height: 58px;
    font-size: 14px;
}
.hft_info{
    padding: 30px 8px 40px 8px;
    border-bottom: 1px solid #575a5b;
}


/* 中部 */
.mfw-container{
    width: 1000px;
    margin: 0 auto;
}
.homeNav{
    width: 100%;
    margin-bottom: 19px;
    font-size: 0;
    white-space: nowrap;
}
.entrys-bg-sales{
    background-position-y: -651px;
}
.entrys-bg-group{
    background-position-y: -24px;
}
.entrys-bg-localdeals{
    background-position-y: -129px;
}
.entrys-bg-flight{
    background-position-y: -441px;
}
.entrys-bg-hotel{
    background-position-y: -546px;
}
.entrys-bg-visa{
    background-position-y: -335px;
}
.entrys-bg-ship{
    background-position-y: -233px;
}
.sales-entrys-item{
    width: 127px;
    height: 47px;
    margin-left: 8px;
    padding-top: 8px;
    padding-left: 7px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    background-image: url(https://p3-q.mafengwo.net/s14/M00/73/0B/wKgE2l0HSGuAOI1tAAChEE0vNA4603.png);
    background-repeat: no-repeat;
    background-size: 104px auto;
    background-position-x: 59px;
}
.sales-entrys-title{
    color: #333;
    display: inline-block;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.sales-entry-subtitle{
    color: #9d9d9d;
    height: 16px;
    padding-top: 1px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.homeWrapper{
    float: right;
    width: 700px;
}
.navbar{
    margin-bottom: 20px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e4e4e4;
}
.tn-nav{
    float: left;
}
.tn-nav li{
    float: left;
    
    display: inline;
    text-align: center;
}
.tn-nav li a{
    color: #333;
    font-size: 18px;
}
.tn-nav  a.router-link-exact-active {
    color:  #ff9d00;
}

.tn-nav .tn-nav-hot{
    width: 170px;
}
.tn-nav .active{
    padding-bottom: 6px;
    border-bottom: 3px solid #ff9d00;
    position: relative;
    z-index: 11;
}
.tn-nav .active a{
    color: #ff9d00;
}
.tn-menu{
    display: inline-block;
    margin-left: 7px;
    line-height: 20px;
    border: 1px solid #e5e5e5;
    color: #666;
    font-size: 12px;
    padding: 0 10px 0 8px;
    cursor: pointer;
    vertical-align: 2px;
}
.tn-menu-icon{
    float: left;
    margin: 6px 5px 0 0;
    width: 11px;
    height: 8px;
    background: url(../img/home/index-sprites9.png) no-repeat 0 -130px;
}
.tn-nav-new{
    width: 120px;
}
.tn-write{
    float: right;
    width: 140px;
}
.btn-add{
    display: block;
    height: 36px;
    background-color: #ff9f00;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.btn-add i{
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 17px;
    background-position: 0 0;
    overflow: hidden;
    vertical-align: -3px;
    background: url(../img/home/index-sprites9.png) no-repeat;
}


.homeAside{
    float: left;
    width: 260px;
}
.asidebox{
    margin-bottom: 30px;
}
.asidebox-hd{
    height: 35px;
    line-height: 35px;
    margin-bottom: 12px;
}
.asidebox-hd .hd-title{
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.asidebox-hd .hd-title a,.asidebox-hd .hd-title a:hover{
    color: #333;
    text-decoration: none;
}
.asidebox-hd .hd-right{
    float: right;
    color: #999;
}
.asidebox-bd{
    width: 260px;
    height: 246px;
    overflow: hidden;
    position: relative;
}
.slide-ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
}
.slide-ul li{
    float: left;
    width: 20%;
}
.image{
    height: 140px;
    overflow: hidden;
}
.box-traveller h3{
    margin: 10px 0 5px;
    width: 260px;
    height: 26px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    line-height: 26px;
    /* overflow: hidden;
    white-space: nowrap; */
    text-overflow: ellipsis;
}
.box-traveller h3 a{
    color: #333;
}
.box-traveller .asidebox-bd p{
    height: 60px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
.slide-ol{
    position: absolute;
    right: 14px;
    top: 120px;
}
.slide-ol li{
    float: left;
    display: inline;
    margin-left: 3px;
    width: 15px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
.gonglve-item{
    margin-bottom: 10px;
}
.gonglve-item .img{
    position: relative;
    height: 140px;
    margin-bottom: 10px;
}
.gonglve-item .mark{
    position: absolute;
    left: 0;
    top: 7px;
    padding: 0 6px;
    color: #fff;
    line-height: 24px;
    background-color: #ff6262;
    font-size: 12px;
}
.gonglve-item .mark:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    border-top: 12px solid #ff6262;
    border-bottom: 12px solid #ff6262;
    border-right: 5px dashed transparent;
}
.gonglve-item h3{
    margin: 10px 0 5px;
    width: 260px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gonglve-item h3 a{
    color: #333;
}
.box-activity{
    position: relative;
}
.box-activity .image{
    height: auto;
}
.asidebox-hd .hd-title h2{
    display: inline;
    font-size: inherit;
    font-weight: normal;
}
.box-news li{
    height: 30px;
    width: 260px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.box-news li a{
    margin-left: 5px;
    color: #666;
}
/* HomeHot */
.tn-item{
    padding: 15px 0;
    height: 150px;
}
.tn-image{
    float: left;
    width: 220px;
    height: 150px;
    position: relative;
}
.tn-image img{
    width: 220px;
    height: 150px;
}
.tn-wrapper{
    float: right;
    width: 455px;
    height: 150px;
}
.tn-item dl{
    height: 117px;
}
.tn-item dt{
    height: 26px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
}
.tn-item dt a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tn-item dd{
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
.tn-item dd a{
    color: #666;
}
.tn-extra{
    height: 33px;
    overflow: hidden;
    line-height: 33px;
}
.tn-extra .tn-ding{
    float: right;
    color: #ff9d00;
    font-size: 14px;
    text-align: right;
}
.tn-extra .btn-ding{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background-position: -60px 0!important;
    overflow: hidden;
    background: url(../img/home/index-sprites9.png) no-repeat;
}
.tn-extra .tn-ding em{
    font-style: normal;
}
.tn-extra .tn-place{
    font-size: 14px;
    margin-right: 5px;
}
.tn-extra .tn-place i{
    
    float: left;
    margin: 8px 5px 0 0;
    width: 14px;
    height: 16px;
    background-position: 0 -50px!important;
    overflow: hidden;
    background: url(../img/home/index-sprites9.png)no-repeat;
}
.tn-extra .tn-place a{
    
    color: #666;
}
.tn-extra span{
    display: inline-block;
}
.tn-extra .tn-user{
    font-size: 14px;
    margin-right: 10px;
}
.tn-extra .tn-user img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
.tn-extra .tn-nums{
    font-size: 14px;
    color: #999;
}
.tn-extra .tn-nums i{
    float: left;
    margin: 10px 5px 0 0;
    width: 18px;
    height: 14px;
    background-position: -30px -50px!important;
    background: url(../img/home/index-sprites9.png)no-repeat;
}
.tn-item dt a.tn-from-app{
    float: right;
    width: auto;
    padding: 0 7px;
    border: 1px solid #ff9d00;
    border-radius: 11px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ff9d00;
    font-weight: bold;
    overflow: visible;
    background-color: #fff;
    cursor: text;
    position: relative;
}
.tn-item dt a.tn-from-app i{
    float: left;
    margin: 2px;
    width: 16px;
    height: 16px;
    background: url(../img/home/index-sprites9.png)no-repeat -170px 0;
}
.tn-item dt a.tn-from-app img{
    position: absolute;
    right: -5px;
    top: 0;
    padding-top: 25px;
    width: 120px;
    display: none;
}
.tn-item dt a.tn-from-app+a{
    width: 360px;
}
.tn-item dt a.tn-from-app:hover img{
    display: block;
}
.tn-item:hover{
    background-color: #f8f8f8;
}
.tn-item:hover dt a{
    color: #ff9d00;
}
.m-pagination{
    padding-right: 0;
    padding: 20px 5px;
    line-height: 24px;
    text-align: right;
    font-size: 12px;
    color: #999;
}
.m-pagination .count{
    padding-right: 12px;
}
.m-pagination .pg-current,.m-pagination .pg-next{
    padding: 0 7px;
    display: inline-block;
    margin-right: 5px;
    background-color: #ff9d00;
    border-radius: 4px;
    color: #fff;
    vertical-align: middle;
}
.m-pagination .pi{
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0 7px;
    border:  0 none;
    background: 0;
    border-radius: 4px;
    color: #666;
    vertical-align: middle;
}
.m-pagination .pg-next{
    margin: 0;
}
/* 尾部 */
.homefooter{
    width: 100%;
    height: 502px;
    clear: both;
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
}
.homefooter a{
    color: #c2c2c2;
}

.hft_content{
    margin: 0 auto;
    width: 1130px;
    height: 502px;
    
}
.hft_info dt{
    height: 30px;
    font-size: 14px;
    overflow: hidden;
}
.hft_info_intro{
    width: 200px;
    margin-right: 68px;
}
.hft-info-col{
    float: left;
    display: inline;
}
.hft_info_intro strong{
    color: #ff9d00;
    font-weight: normal;
}
.hft_info_about{
    width: 128px;
    margin-right: 85px;
}
.m_l_10{
    margin-left: 10px;
}
.highlight{
    color: #ff9d00!important;
}
.hft_info_service{
    width: 135px;
    margin-right: 80px;
}
.hft_info_service dt{
    text-align: center;
}
.hft_info_service ul{
    margin-right: -35px;
}
.hft_info_service li{
    float: left;
    width: 85px;
}
.clearfix:after{
    content: '';
    clear: both;
    display: table;
    height: 0;
    overflow: hidden;
}
.hft_info_qrcode{
    float:right;
    padding-top: 22px;
    line-height: 1.4em;
}
.hft_info_qrcode dd{
    width: 100px;
    display: inline;
    margin-left: 30px;
    float: right;
    text-align: center;
}
.hft_info_qrcode span{
    display: block;
    height: 90px;
    margin: 0 0 8px 6px;
}
.hft_qrcode_tejia{
    background: url(../img/home/mfw-lp.png) no-repeat;
}
.hft_qrcode_weixin{
    background: url(../img/home/mfw-ly.gif) no-repeat;
}
.hft_qrcode_app{
    background: url(../img/home/mfw-app.png) no-repeat;
}
.hft_info_social{
    clear: both;
    text-align: center;
    padding-top: 25px;
}
.hft_info_social dt{
    font-size: 16px;
}
.hft_info_social dd{
    padding: 5px 0;
}
.hft_info_social dd a{
    display: inline-block;
    margin: 0 6px;
}
.hft_social-icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/home/mfw-footer-sprite7.png) no-repeat 0 0;
    overflow: hidden;
}
.hft_social_qqt .hft_social-icon{
    background-position:-30px 0 ;
}
.hft_social_qzone .hft_social-icon{
    background-position:-60px 0 ;
}

.hft_copyright{
    
    padding: 12px 0 12px 7px;
    margin-top: -1px;
    border-top: 1px solid #575a5b;
}
.hft_mfw_logo{
    float: left;
    margin: 2px 20px 0 0;
    width: 136px;
    height: 39px;
    background: url(../img/home/mfw-footer-sprite7.png) no-repeat 0 -30px;
    overflow: hidden;
}

.hft_safety{
    text-align: center;
}
.hft_safety .s-b{
    background-position: 0 -110px;
}
.hft_safety .s-c{
   background: url(../img/home/wxrz1.png);
}
.hft_safety .s-d{
    background: url(../img/home/wxrz2.png);
 }
.hft_safety a{
    display: inline-block;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    background: url(../img/home/mfw-footer-sprite7.png) no-repeat 0 -70px;
    overflow: hidden;
}
