*{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
ul,li{
    list-style: none;
}
input{
  outline: none;
}
html,body{
    width: 100%;
    /* height: 100%; */
    min-width: 1260px;
    position: relative;
}
body{
	background-color: #000000;
}

div.Destination{
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1260px;
}
div.shade{
  /* position: relative; */
  /* height: 34.375rem; */
}
div.place-focus{
  width: 100%;
  min-width: 1260px;
  height: 28.125rem;
  background: url('https://b1-q.mafengwo.net/s15/M00/0F/5F/CoUBGV28HDuALpzxABR490kDN0M39.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0; */
  padding-top: 100px;
  /* z-index: -100; */
}
div.place-focus a.show-info-top{

}
div.show-info-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 960px;
}
	div.info-left{
    width: 360px;
	background-color: rgba(0,0,0,.4);
	padding: 20px;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    text-align: left;
  }
  div.info-left div.liDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
  }
    div.info-left p{
      font: 20px/1 "微软雅黑";
      color: #fff;
      margin-bottom: 15px;
    }
    div.info-left input{
      font: 20px/1 "微软雅黑";
      width: 308px;
      height: 2.25rem;
      /* margin: 0 6px 0 0; */
      padding: 0 20px;
      background-color: #fff;
      border: 0 none;
      line-height: 46px;
      font-size: 18px;
      color: #111;
      border-radius: 4px;
      border: none;
      vertical-align:top;
    }
    div.info-left a.search{
      display: inline-block;
      width: 2.25rem;
      height: 2.25rem;
	  background-color: #ff9d00;
      border-radius: 4px;
	  text-align: center;
	  line-height: 2.25rem;
    }
    div.info-left a.search i{
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
      background: url('../assets/Destination/header-sprites.png') no-repeat 0 -110px;
      vertical-align: middle;
    }
    div.info-left ul{
      margin-top: 15px;
    }
    div.info-left li{
      float: left;
      margin-right: 10px;
    }
    div.info-left li a{
      width: auto;
      height: auto;
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
    }
    div.info-left li a:hover{
      text-decoration: underline;
    }

	div.info-right{
    width: 535px;
    height: 170px;
    align-self: flex-start;
    text-align: left;
    padding-right: 30px;
    border-right: 7px solid white;
    overflow: initial;
  }
  div.info-right a{
    color: white;
  }
  div.info-right a.irTitle:hover{
    color: #ff9d00;
  }
  div.info-right h2{
    font: 30px/1.3 "微软雅黑";
    margin: 10px 0;
  }
  div.info-right p{
    font: 16px/1.8 '微软雅黑';

    color: white;
  }
  div.info-right a.readAll{
    text-decoration: underline;
    font: 18px/1.8 '微软雅黑';
    margin-top: 10px;
    display: inline-block;
  }
  div.info-right a.readAll:hover{
    color: #ff9d00;
	}
div.place-focus a.show-info-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
  div.show-info-bottom{
	text-align: center;
  }
  div.show-info-bottom i{
    display: inline-block;
    width: 36px;
    height: 20px;
    background: url('../assets/Destination/place-sprites3.png') no-repeat -30px -60px;
    margin: 24px auto;
  }
div.place-focus div.show-ft{
  position: absolute;
  right: 40px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.show-ft div{
  padding: 0 8px;
}
  div.pic-from{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  div.pic-from:hover div.pic-from-pop{
    width: 95px;
    transform: translateX(-95px);
    visibility: initial;
    color: #333333;
  }
  div.pic-from i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../assets/Destination/place-sprites3.png') no-repeat 0 0;
    overflow: hidden;
  }
    div.pic-from-pop{
    position: absolute;
    left: -10px;
    width: 0;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    transition: all .5s;
  }
  div.pic-from-pop div{
    height: 25px;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    position: relative;
    font: 12px/25px '微软雅黑';
    white-space: nowrap;
  }
  div.pic-from span{
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border: 5px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    z-index: -200;
  }
  div.pic-time{

  }
  div.pic-time a{
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #fff;
    font: 12px/32px '微软雅黑';
    text-align: center;
    background: url('../assets/Destination/place-sprites3.png') no-repeat -60px 0;
    overflow: hidden;
  }
  div.pic-time a:hover{
    text-decoration: underline;
  }
  div.pic-share{

  }
  div.pic-share a.btn-share{
    display: block;
    color: white;
    font: 12px/23px '微软雅黑';
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 14px;
    text-align: center;
  }
  div.pic-share a.btn-share:hover{
    text-decoration: underline;
  }
  div.pic-share a.btn-share:hover + div.pop-share{
    display: flex;
  }
  div.pic-share a.btn-share i{
    display: inline-block;
    width: 13px;
    height: 14px;
    margin-right: 5px;
    background: url('../assets/Destination/place-sprites3.png') no-repeat 0 -30px;
    vertical-align: middle;
  }
  div.pic-share div.pop-share{
	position: absolute;
	right: 0;
	bottom: 35px;
	width: 132px;
	height: 36px;
	padding: 8px 10px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	display: none;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
  }
	div.pop-share a{
		width: 36px;
		height: 36px;
		border-radius: 5px;
		margin-right: 12px;
		text-align: center;
  }
  div.pop-share a:nth-of-type(1){
    background-color: #d84c4c;
  }
  div.pop-share a:nth-of-type(2){
    background-color: #3f8bc0;
  }
  div.pop-share a:nth-of-type(3){
    background-color: #73a64f;
  }
	div.pop-share a:nth-last-child(1){
		margin: 0;
	}
	div.pop-share i{
		display: inline-block;
		text-align: center;
		margin-top: 8px;
		width: 26px;
		height: 22px;
		vertical-align: top;
	}
	div.pop-share a:nth-of-type(1) i{
		background: url('../assets/Destination/place-sprites3.png') no-repeat 0 -90px;
	}
	div.pop-share a:nth-of-type(2) i{
    background: url('../assets/Destination/place-sprites3.png') no-repeat -30px -90px;
	}
	div.pop-share a:nth-of-type(3) i{
    background: url('../assets/Destination/place-sprites3.png') no-repeat -60px -90px;
	}



section.content{
  width: 100%;
  /* margin-top: 34.375rem; */
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 40px;
}
section.content div.row{
  width: 63.75rem;
  margin: 0 auto;
}
div.row-hot{
  width: 62.5rem;
}
section.content h2{
	text-align: center;
	font: 30px/1 '微软雅黑';
	padding: 40px 0 25px;
}
section.content div.r-navbar{
	margin: 0 0 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
	div.r-navbar div.rn{
    /* margin: 0 10px; */
    position: relative;
	}
	div.rn p{
		padding: 10px 0;
		font: 18px/22px '微软雅黑';
		color: #333333;
    text-align: center;
    margin: 0 22px;
	}
	div.rn  span{
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
		color: #EEE;
		width: 1px;
		height: 15px;
	}
	div.rn div.rn:nth-last-child(1) span{
		display: none;
	}
	section.content p.on{
		color: #FF9D00;
		border-bottom: 3px solid #FF9D00;
	}

/* 热门目的地 */

div.row-hot{

}
div.row-hot div.r-content{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
}
	div.r-content dl{
		border-bottom: 1px dashed #eee;
		padding: 20px 0 20px 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	div.r-content dt{
		font-size: 16px;
		color: #333;
		margin-left: -100px;
		white-space: nowrap;
		margin-right: 1.25rem;
		text-decoration: underline;
  }
  div.r-content dt a:hover{
    color: #ff9d00;
	}
	div.r-content dd{
		width: 23.125rem;
		white-space: inherit;
		text-align: left;
	}
	div.r-content dd a{
		margin-right: 10px;
		color: #666;
		white-space: nowrap;
	}
	div.r-content dd a:hover{
		color: #FF9D00;
		text-decoration: underline;
	}

/* 当季推荐 */

div.row-season{

}
div.row-season div.r-content{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content:start;
	flex-wrap: wrap;
}
div.row-season div.tiles{

}
div.tiles div.item{
  height: 13.75rem;
}
	div.item a{
		position: relative;
		display: block;
		margin: 10px 15px 10px 0;
		overflow: hidden;
	}
	div.col3 img{
		display: block;
		width: 20.1875rem;
		height: 13.75rem;

	}
	div.col6 img{
		display: block;
		width: 14.875rem;
		height: 13.75rem;
  }
  div.col7{
    position: relative;
    z-index: 3000;
  }
  div.col7 a{

  }
  div.col7 img{
		display: block;
		width: 14.875rem;
    height: 13.75rem;
  }
  div.col7 div.more{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 14.875rem;
    background-color: rgba(0,0,0,.5);
    z-index: 300;
    color: white;
    text-align: center;
    font: 20px/220px '微软雅黑';
  }
  div.col7 div.more span{

  }
  div.col7 div.more i{
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    vertical-align: 1px;
    vertical-align: middle;
  }
	div.item div.title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 1.25rem;
		z-index: 100;
		color: white;
		font: 20px/56px '微软雅黑';
		white-space: nowrap;
		overflow: hidden;
		background: linear-gradient(to bottom,rgba(0,0,0,0) 10px,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 100%);
	}

/* 主题推荐 */

div.row-theme{

}
div.row-theme div.r-content{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content:start;
	flex-wrap: wrap;
}
div.row-theme div.item{
	position: relative;
	height: 13.75rem;
}
	div.row-theme div.item a{
		/* display: inline-block; */
	}
	div.row-theme div.item img{
		display: block;
		width: 14.875rem;
		height: 13.75rem;
	}

/* 全球目的地 */

div.row-global{

}
div.row-global div.hd{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
	div.hd h2{

	}
	div.hd h2 span{
		font-size: 14px;
		color: #a8a8a8;
	}
	div.hd h2 a{
		display: inline-block;
		margin-left: 10px;
		color: #ff9d00;
	}
	div.hd h2 a span{
		font-size: 14px;
		color: #ff9d00;
		margin-left: -6px;
	}
	div.hd h2 a span:hover{

		text-decoration: underline;
	}
	div.hd h2 a strong{
		font-weight: bold;
		font-style: normal;
		font-size: 18px;
	}
div.row-global div.r-navbar{
	justify-content: flex-start;
}
div.row-global div.bd{
	width: 100%;
}
div.bd div.item{
	margin-bottom: 50px;
}
	div.item h3{
		font-weight: normal;
		text-align: left;
		margin-bottom: 15px;
	}
	div.item div.clearfix{
		width: 100%;
	}
		div.clearfix ul{
			width: 100%;
			max-height: 28.125rem;
			display: flex;
			flex-direction: column;
			align-content: space-between;
			justify-content: space-between;
			flex-wrap: wrap;
			/* overflow: hidden; */
		}
		div.clearfix ul li{
			width: 33.33%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}
		div.clearfix li h4{
			font-weight: normal;
			width: 30px;
			font: 20px/30px Centaur,Times New Roman;
			overflow: hidden;
			text-align: left;
		}
		div.clearfix li div.cfLiDiv{
			display: flex;
			flex-direction: column;
			align-content: flex-start;
		}
			div.cfLiDiv a{
				text-align: left;
				white-space: nowrap;
				margin: 0;
				/* margin-bottom: 16px; */
				font: 14px/30px '微软雅黑';
			}
			div.cfLiDiv a span.englishName{
				color: #A8A8A8;
			}
			div.cfLiDiv a i.icon-hot{
				display: inline-block;
				width: 32px;
				height: 14px;
				vertical-align: middle;
				background: url(../assets/Destination/plaInd-sprite3.png)no-repeat -555px 0;
			}
			div.cfLiDiv a a.icon-texas{
				display: inline-block;
				vertical-align: middle;
				background: #9f4d31;
				color: white;
				font-size: 12px;
				line-height: 1;
				padding: 3px;
				overflow: hidden;
			}
			div.cfLiDiv a a.icon-china{
				display: inline-block;
				width: 34px;
				height: 21.125px;
				margin-left: 20px;
				vertical-align: middle;
				background: url(http://css.mafengwo.net/images/mdd/place/flag.jpg)no-repeat;
			}
			
