*{
    margin: 0;
    padding: 0;
}
.mfw-focus{
    position: relative;
    z-index: 20;
    margin-bottom: 20px;
    clear: both;
    width: 100%;
    min-width: 1124px;
}
.show-slider{
    position: relative;
    overflow: hidden;
    background-color: #f1f4f5;
}
.show-slider .show-image{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 375px;
    text-align: center;
    z-index: 2;
}
.show-slider .show-image li.first{
    display: inline-block;
}
.show-slider .show-image li{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.show-slider .show-image li{
    height: 375px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}
.show-slider .show-image li img{
    width: 100%;
    margin: 0!important;
}
img{
    vertical-align: middle;
}
.show-slider .show-pic{
    display: block;
    height: 100%;
}
.show-slider .show-title .drak{
    text-shadow: 0 1px 3px rgba(0,0, 0, .9);
}
.show-slider .show-title{
    /* top: 15px;
    font-size: 20px;
    position: absolute;
    left: 50px;
    
    color: #fff;
    text-align: left;
    max-width: 1000px; */
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    font-size: 26px;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    text-align: left;
    min-width: 1000px;
}
.show-slider .show-title .date{
    position: relative;
    width: 180px;
    font-size: 24px;
    overflow: hidden;
}
.show-slider .show-title .day{
    font-size: 30px;
}
.show-slider .show-title h3{
    font-size: 20px;
    font-weight: normal;
}
.show-slider .show-image .show-info{
    margin-left: -269px;
    position: absolute;
    left: 50%;
    top: 600px;
    min-width: 630px;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    text-align: left;
    white-space: nowrap;
}
.show-slider .show-nav{
    position: absolute;
    right: 40px;
    top: 45%;
    margin-top: -166px;
    width: 110px;
    z-index: 2;
} 
.show-slider .show-nav li{
    height: 62px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
}
.show-slider .show-more{
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 50%;
    margin-top: 160px;
    width: 110px;
    height: 35px;
    background-image: url(../img/home/index-sprites9.png);
    background-position: -60px -50px!important;
    line-height: 200px;
    overflow: hidden;
}
.search-container{
    position: absolute;
    bottom: 54px;
    left: 50%;
    margin-left: -269px;
    width: 538px;
    z-index: 5;
   
}
.search-group{
    padding: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 4px;
}
.searchtab{
    margin-bottom: 7px;
    color: #fff;
    line-height: 26px;
    font-size: 14px;
}
.searchtab li{
    margin-right: 30px;
    float: left;
    display: inline;
    cursor: pointer;
}
.tab-selected i{
    background-position: -60px -140px!important;
}
.searchtab i{
    float: left;
    margin: 5px 5px 0 0;
    width: 16px;
    height: 16px;
    background-image:url(../img/home/header-sprites13.png) ;
    background-position: -60px -110px!important;
}
.searchtab a{
    color: #fff;
}
.show-nav .active{
    border: 2px solid #ff9d00;
}
.searchbar{
    height: 36px;
    overflow: hidden;
}
.homeAll {
    overflow: hidden;
    height: 36px;
  }
  .search-wrapper {
    height: 36px;
    width: 474px;
    float: left;
  }
  .search-input input {
    height: 36px;
    width: 474px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    line-height: 36px;
    border: 0 none;
    color: #666;
    border-radius: 4px;
    float: left;
  }
  .search-button {
    margin-left: 4px;
    float: left;
    width: 40px;
    height: 36px;
  }
  .search-button a {
    height: 36px;
    display: block;
    background-color: #ff9d00;
    border-radius: 4px;
    text-align: center;
  }
  .icon-search {
    margin-top: 6px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/home/header-sprites13.png);
    background-position: 0 -110px !important;
    overflow: hidden;
    vertical-align: top;
  }
  .searchbar-hotel .search-input {
    float: left;
    width: 210px;
  }
  .searchbar-hotel .el-input__inner {
    width: 210px;
    height: 36px;
    border: 0 none;
    border-radius: 4px;
    
  }
  .searchbar-hotel .el-input__inner[data-v-fae5bece] {
    width: 260px;
    height: 36px;
    border: 0 none;
    border-radius: 4px;
    margin-left: 4px;
}
  .active i{
    background-position: -60px -140px!important;
  }
  .searchbar-flight input[data-v-fae5bece] {
    width: 130px;
}
.searchbar-flight input{
    width: 130px;
}
.flight-end{
    position: relative;
}
.search-input-exchange{
    width: 26px;
    padding-top: 5px;
    margin-left: -18px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.searchbar-flight .search-input{
    float: left;
}
.searchbar-flight .flight-start{
    width: 170px;
}
.flight-date{
   width: 130px;
    margin-left:9px;
}
