* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

ul,
li {
  list-style: none;
}

/**旅游攻略导航目的地样式**/
div.subject {
  width: 100%;
  margin-top: 30px;
}

div.mddNavigation {
  width: 1000px;
  min-width: 1000px;
  height: 340px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

div.mddNavigation_search {
  width: 260px;
  height: 290px;
}

div.mddNavigation_local {
  border: 1px solid #ddd;
  height: 165px;
}

div.mddNavigation_local ul {
  height: 165px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
}

div.mddNavigation_local li {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
  line-height: 41.25px;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
}

div.mddNavigation li:nth-last-child(1) {
  border-bottom: none;
}

.fold {
  float: right;
  width: 6px;
  height: 10px;
  background: url(../assets/Strategy/new-gl-icon6.png) no-repeat -20px -40px;
  margin-top: 15px;
  margin-right: 15px;
}

/***搜索框***/
div.search_box {
  border: 2px #FFA800 solid;
  margin-top: 10px;
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  text-align: left;
}

div.search_box span {
  float: left;
  height: 27px;
  width: 29px;
  background: url(../assets/Strategy/new-gl-icon6.png) -20px -60px no-repeat;
  margin-top: 7px;
  margin-left: 8px;
}

div.search_box input {
  margin-left: 10px;
  line-height: 37px;
  border: none;
  outline: none;
}

div.qcCode {
  border-bottom: 1px solid #ddd;
  height: 50px;
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 15px;
}

div.logo {}

div.logo img {
  width: 50px;
  height: 50px;
}

div.download {
  margin-left: 15px;
  text-align: center;
  position: relative;
}

div.download h3 a {
  color: #FF9D00;
  font-size: 16px;
  font-weight: initial;
}

div.download h3 a:hover {
  text-decoration: underline;
}

div.download p {
  margin-top: 2px;
}

div.download p a {
  color: #666;
  font-size: 8px;
  font-weight: inherit;
}

div.download p a:hover {
  cursor: text;
}

div.download p span {
  color: #D8D8D8;
  font-size: 2px;
}

div.qcPopup {
  position: absolute;
  display: none;
  width: 130px;
  height: 170px;
  top: 22px;
  left: 25px;
}

div.qcPopup img {
  width: 100%;
}

div.download:hover div.qcPopup {
  display: block;
}

/**轮播图**/
div.Rotation {
  position: relative;
  width: 700px;
  height: 340px;
}

div.page ul li {
  list-style: none;
  float: left;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 50%;
  font-size: 4px;
  margin-left: 10px;
}

.item img {
  width: 100%;
  display: block;
}

.Rotation .page {
  /* background: rgba(0, 0, 0, .5); */
  position: absolute;
  right: 40px;
  bottom: 30px;
  width: 100%;
}

.Rotation .page ul {
  float: right;
}

.current {
  border-radius: 50%;
  background-color: white;
}


/**主体内容**/
div.mainContent {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* 主体内容左边 */
div.mainContent_left {
  width: 160px;
  height: 875px;
}

div.mainContent_leftTitle {
  width: 160px;
  height: 51px;
  line-height: 51px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

div.region {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 160px;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  font-size: 14px;
}

div.region span {
  content: '';
  position: absolute;
  margin: 16px 0 0 -10px;
  width: 1px;
  height: 13px;
  background-color: #eee;
}

div.region i {
  float: right;
  margin-top: 20px;
  border-top: 4px solid #999;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  font-size: 0;
  overflow: hidden;
}

/* div.Ranking{

}
div.Ranking ul{

} */
div.Ranking ul li {
  border-bottom: 1px solid #f7f7f7;
  display: block;
  height: 55px;
  line-height: 55px;
  text-align: left;
}

div.Ranking ul li a {
  color: #000000;
  font-size: 14px;
}

li#top {
  margin-top: 20px;
  display: block;
  width: 130px;
  height: 250px;
  line-height: 25px;
  text-align: center;
}

li#top a {
  display: block;
}

li#top a img {
  width: 100%;
  display: block;
}

li#top p {
  font-size: 8px;
  color: #666;
}

div.downNums {
  background-color: #ebebeb;
  border-radius: 30px;
  display: flex;
  flex-wrap: nowrap;
}

div.downNums span {
  display: block;
  height: 24px;
  width: 24px;
  padding-right: 5px;
  background: url(../assets/Strategy/new-gl-icon6.png) -20px -90px no-repeat;
}

span.num {
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #ff9d00;
}


/* 主体内容右边 */
div.mainContent_right {
  width: 790px;
}

div.mainContent_right h3 {
  font-weight: normal;
  height: 51px;
  line-height: 51px;
  text-align: left;
}

div.postList {
  border-top: 1px solid #ddd;
}

/* div.postList ul{

}
div.postList ul li{

} */
div.user {
  height: 32px;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  padding-top: 20px;
}

ul.postType1 {
  display: block;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

div.user_span {
  display: inline-block;
  height: 32px;
}

i.userimg {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url(../assets/Strategy/new-gl-icon6.png) no-repeat 0 -20px;
  overflow: hidden;
}

strong.username {
  color: #FF9D00;
  padding-left: 5px;
  font-weight: initial;
}

span.button {
  border: 1px solid #FF9D00;
  border-radius: 15px;
  float: right;
  height: 32px;
  box-sizing: border-box;
  line-height: 32px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: initial;
  color: #666;
}

span.button .num {
  font-size: 13px;
  line-height: 34px;
}

i.icon_cart {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url(../assets/Strategy/new-gl-icon6.png) no-repeat -40px -40px;
  overflow: hidden;
  vertical-align: -2px;
}

div.postTitle {
  width: 100%;
  font-size: 20px;
  text-align: left;
}

div.postTxt {
  padding-top: 20px;
  text-align: left;
  color: #666;
  font-size: 14px;
}

div.postImage {
  margin-top: 20px;
}

div.postImage ul {
  height: 130px;
  display: block;
}

div.postImage ul li {
  display: inherit;
  float: left;
  margin-right: 15px;
}

div.postImage ul .views {
  line-height: 130px;
  color: #999;
  font-size: 12px;
  float: right;
  margin-right: 0;
}

div.postType {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 40px;

}

dl.content_dl {
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}

dl.content_dl dt {
  margin-right: 20px;
}

dl.content_dl dd {
  font-size: 14px;
  padding-top: 10px;
  line-height: 24px;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
}

dl.content_dl dd p {
  margin-bottom: 20px;
}

span.clickNick {
  display: initial;
  text-align: right;
}

span.clickNick span {
  font-size: 12px;
}

span.userHead {
  color: #FF9D00;
}

span.userHead img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -3px;
}

span.nums {
  color: #999999;
}
