.row{
    width: 1000px;
    margin:0 auto;
    height: 324px;
    margin-top: 24px;
    
}
.row-title{
    height: 51px;
    width:1000px;
    display:flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

.bar{
   width:304px;
   height:30px; 
   padding-top: 8px;
}

.bar li{
    float: left;
    margin-right: 20px;
    font-size: 16px;
    padding: 0 6px;
    border-radius: 2px;
    color: #333;
    height: 30px;
    line-height: 30px;
}

.bar li:hover{
    color: #fff;
    background-color:#45bd9e;
}

.bn-side{
    height: 241px;
    width: 154px;
    float: left;

}
.item{
    width: 830px;
    height: 242px;
    background-color: red;
    float: left;
    display: flex;
    margin-left: 16px;
}